body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(
        to bottom,
        rgba(1, 8, 12, 0.733),
        rgba(0, 0, 0, 0.841),
        rgba(49, 55, 58, 0.6)
    ),
    url(./fondo.avif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-composite: border;
    color: rgb(178, 173, 162);
}
nav{
    border-radius: 50px;
    height: 60px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    text-align: center;
}

button {
    margin: 20px;
    background-color: #e9fbe6;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
}

button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

#agregar-producto{
    text-align: center;
    margin: 5%;
    background-color: rgba(65, 71, 71, 0.679);
    border-radius: 15px;
}

input{
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    border: black;
}

#agregar-tasa{
    text-align: center;
    margin: 5%;
    background-color: rgba(65, 71, 71, 0.679);
    border-radius: 15px;
}